@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Righteous&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
   
      overflow-x: hidden;
}
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(41, 41, 41);
    align-items: center;
    padding: 2rem;
    color: red;
    gap: 2rem;
    font-family: 'Poppins', sans-serif;
}

.title1 {
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Righteous', cursive; */
    /* font-family: 'Varela Round', sans-serif; */
    /* font-family: 'Nunito Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container .search-box {
    display: flex;
    gap: 0.2rem;
    flex-direction: row;
}

.container .search-box .search-bar::placeholder {
    color: rgb(15, 14, 14);
    font-family: 'Poppins', sans-serif;
}

.container .search-box .search-bar {
    padding: 13px;
    font-family: 'Poppins', sans-serif;
    border-radius: 19px;
    background-color: rgb(255, 25, 25);
    box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.493);
    border: none;
    outline: none;
        transition: all 0.6s ease-in-out;
}

.container .search-box .search-btn {
    padding: 13px;
    font-family: 'Poppins', sans-serif;
    border-radius: 19px;
    background-color: rgb(255, 25, 25);
    box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.493);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}
.container .search-box .search-btn:hover{
background-color: rgb(15, 13, 13);
color: red;
}

.container .w-boxes {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    
}

.container .w-boxes .box {
    display: flex;
    background-color: rgb(24, 23, 23);
    box-shadow: 0px 0px 4px 6px red;
    border-radius: 25px;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
    height: auto;
    padding: 13px;
    align-items: center;
    justify-content: center;
}

.container .w-boxes .box .sun-rs {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(20, 17, 17);
     box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.493);
}

.container .w-boxes .box .sun-rs .sunrise {
    display: flex;
    flex-direction: column;
    
    gap: 0.4rem;
    width: 40%;
    align-items: center;
    justify-content: center;
}
.container .w-boxes .box .sun-rs .sunrise .sun-r{
      display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    justify-content: center;
}
.container .w-boxes .box .sun-rs .sunset .sun-s{
      display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}
.container .w-boxes .box .sun-rs .sunrise i{
   font-size: 27px; 
  
}
.container .w-boxes .box .sun-rs .sunset {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: center;
    width: 40%;
    align-items: center;
}
.container .w-boxes .box .sun-rs .sunset i{
   font-size: 27px; 
}
.container .w-boxes .box .humidity {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
     border-radius: 10px;
    padding: 5px;
    background-color: rgb(20, 17, 17);
     box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.493);
    width: 80%;
    align-items: center;
}
.container .w-boxes .box .humidity i{
   font-size: 27px; 
}
.container .w-boxes .box .wind-sp {
    display: flex;
    flex-direction: column;
    gap: 1rem;
     border-radius: 10px;
    padding: 5px;
    background-color: rgb(20, 17, 17);
     box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.493);
    width: 80%;
    justify-content: center;
    align-items: center;
    
}
.container .w-boxes .box .wind-sp .wind {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 80%;
    justify-content: center;
    align-items: center;
     transition: all 1s ease-in-out;
}
.container .w-boxes .box .wind-sp .wind p{
    transition: all 1s ease-in-out;
}
.container .w-boxes .box .wind-sp i{
   font-size: 27px; 
}
.container .w-boxes .box .main-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    align-items: center;
     border-radius: 10px;
    padding: 5px;
    background-color: rgb(20, 17, 17);
     box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.493);
}

.container .w-boxes .box .clouds {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    align-items: center;
     border-radius: 10px;
    padding: 5px;
    background-color: rgb(20, 17, 17);
     box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.493);
}

.container .w-boxes .box .others {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 100%;
    align-items: center;
}
.container .w-boxes .box .others .fpl {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
     border-radius: 10px;
    padding: 5px;
    background-color: rgb(20, 17, 17);
     box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.493);

    width: 100%;
    align-items: center;
}
.container .w-boxes .box .others .temps{
        display: flex;
    flex-direction: row;
    gap: 0.6rem;
     border-radius: 10px;
    padding: 5px;
    background-color: rgb(20, 17, 17);
     box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.493);
    width: 100%;
    align-items: center;
    justify-content: center;
}
.container .w-boxes .box .main-info .weather-info{
     display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 80%;
    align-items: center;
}
.container .w-boxes .box .main-info .weather-info .icons i{
   
   font-size: 27px; 
}
.container .w-boxes .box .main-info .weather-info .icons{
          
}
.container .w-boxes .box .clouds .cloud-data{
display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 80%;
    align-items: center;
}
.container .w-boxes .box .clouds .cloud-data i{
       font-size: 27px; 
}
@media (max-width:720px)
{
html{
    font-size: 70%;
}
.container{
    gap: 6rem;
}

.container .w-boxes {
    flex-direction: column; 
}
.container .w-boxes .box {

    width: 50%;

}
.container .box:nth-child(1) {
  order: 1; /* Change the order of Item 2 to 1 */
}
}
@media (max-width:500px)
{
    .container .w-boxes .box {

    width: 70%;

}
}